/* ================================
   Global styles
   ================================ */

:root {
    --darkpurple: #44354C;
    --brightpurple: #BB89BD;
    --lightpurple: #ECDAF2;
    --red: #E68999;
    --blue: #8DA7D7;
}

body {
    background-color: var(--darkpurple);
    display: flex;
    flex-direction: column;
}

main {
margin-left: 10vw;
margin-right: 10vw;
}

section {
    display: flex;
    flex-direction: column;
}

article {
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.left{
    align-items: flex-start;
    text-align: left;
}

.right{
    align-items: flex-end;
    text-align: right;
}

/* ================================
   Typography
   ================================ */

h1 {
    color: var(--brightpurple);
    font-family: "brando", serif;
    font-weight: 600; 
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    color: white;
    font-family: "brando", serif;
    font-size: 16px;
    line-height: 1.5;
}

/* ================================
   Images
   ================================ */

#titleIMG {
    width: 90vw;
    margin: 20px 0;
    margin-left: -15vw;
}

#map {
 width: 80%;
 aspect-ratio: 1.7/1;
 background: none;
 align-self: flex-start;
}
    
.leaflet-bottom.leaflet-right {
    display: none;
}

g {
   width: 100%;
}

/* Standard-Tooltip-Styling */
.custom-tooltip {
    background-color: #fff;        /* Hintergrundfarbe des Tooltips */
    color: #333;                   /* Textfarbe */
    border: 1px solid #77B84D;     /* Randfarbe passend zu den Swing States */
    border-radius: 4px;            /* Abgerundete Ecken */
    padding: 5px;                  /* Innenabstand */
    font-family: Arial, sans-serif; /* Schriftart */
    font-size: 12px;               /* Schriftgröße */
    box-shadow: 0 2px 8px rgba(0,0,0,0.3); /* Schatteneffekt */
}

/* Tooltip-Pfeil anpassen */
.custom-tooltip:before {
    border-top-color: #77B84D;  /* Farbe des Pfeils */
}